# agent.py
numpy
python-dotenv
langchain-openai
langchain
dateparser
requests

# assistant.py
torch
torchaudio
openai-whisper
gTTS
python-dotenv

# conditional_agent.py
langchain
langchain-openai
langchain-community
langchain-huggingface
openai
faiss-cpu
sentence-transformers
newsapi-python
requests
python-dotenv

# main.py
fastapi
uvicorn[standard]
pydantic
python-dotenv
torch
torchaudio
aiofiles
python-multipart 
httpx

# response_agent.py
python-dotenv
langchain
langchain-openai
openai
together

# scheduler.py and task_db.py
aiosqlite
python-dotenv
