# Just use the standard version
torch==2.7.1

fastapi
uvicorn[standard]
python-dotenv
pyaudio
pvporcupine
numpy
whisper
gTTS
langchain
langchain-openai
langchain-community
langchain-huggingface
faiss-cpu
newsapi-python
dateparser
pydantic
httpx
aiofiles
aiosqlite
requests
